.front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000; /* Black text */
}

.image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #000000; /* Black text */
}

.start-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #FFFFFF; /* White text */
    background-color: #808080; /* Dark grey background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #666666; /* Even darker grey on hover */
}

.button-spacing {
    margin: 10px; /* Adjust as needed */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    gap: 20px; /* Adjust as needed */
}

.grey-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #FFFFFF; /* White text */
    background-color: #808080; /* Dark grey background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grey-button:hover {
    background-color: #666666; /* Even darker grey on hover */
}